@for $i from 4 through 32 {
    .sidebar-icon-h#{$i} {
        max-height: #{$i}px;
        svg {
            height: #{$i}px;
        }
    }
}

.sidebar-fa-icon {
    svg {
        fill: currentColor;
    }
}

.gap-1 {
    gap: 0.25rem;
}
